body{
  text-align : Center;
}
button{
  Height : 50px;
  border : 2px solid black;
  background-color :lightskyblue;
  padding: 10px;
  border-radius : 20px
}
input{
  Height : 27px;
  border : 2px solid black;
  background-color :white;
  padding: 10px;
  border-radius : 20px;
  margin-right : 10px;
}
.BOX{
  width : 500px;
  height : ;
  border :2px solid ;
  background-color : #f9f9f9;
  border-radius : 20px;
/*   margin-top : 30px;
  margin-left :170px; */
  margin : 30px auto;
  
}
#additem{
  padding:15px;
  border-radius: 10px;
  background-color : white;
}

#additem:hover{

  background-color : lightskyblue;
}
ul {
    list-style-type: none;
  margin : 20px;
  display : grid;
  place-items : center;
}
li{
  margin : 5px;
  font : 30px;
  padding : 10px;
  border : 2px solid lightskyblue;
  width : 360px;
  border-radius : 20px
}
.remove {
  border-radius: 10px;
  color: red;
  background-color: white;
  margin-left : 200px;
  
}
.remove:hover{
  background-color : Red;
  color : Black;
}
